body{
background-image: url(food.jpg);
}
h1{
color: white;
}
h3{
color:white;
}
table{
color: white;
border: solid 1px;
border-color: white; 
}
div{
display: block;
margin-left: 2%;
}
footer{
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: none 
color: white;
text-align: center;
color:white;
background-color: rgb(102,51,51);
opacity: 0.75;
}
/* CSS Document */